/*
!/.gitignore
!/README.md
!/docs/
!/game/
/game/*
!/game/stats.rpyc
!/game/translation.rpyc
!/game/battle.rpyc
!/game/translations/
/game/translations/**/*.psd
/game/translations/**/titledark.jpg
!decompiled_resources