/* yellowtail-regular - latin */
@font-face {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Yellowtail Regular'), local('Yellowtail-Regular'),
         url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/yellowtail-v8-latin/yellowtail-v8-latin-regular.svg#Yellowtail') format('svg'); /* Legacy iOS */
}

/* playball-regular - latin */
@font-face {
    font-family: 'Playball';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/playball-v7-latin/playball-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Playball'), local('Playball-Regular'),
         url('fonts/playball-v7-latin/playball-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/playball-v7-latin/playball-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/playball-v7-latin/playball-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/playball-v7-latin/playball-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/playball-v7-latin/playball-v7-latin-regular.svg#Playball') format('svg'); /* Legacy iOS */
}

/*  Lista de colores, de mas claro a mas oscuro
    color: #FFDCE0; //Color 1
    color: #EF97AF; //Color 2
    color: #EE4973; //Color 3
    color: #980521; //Color 4
*/

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(to right bottom, #f0e8f1 71%, #EF97AF 29%);
}

.right {
    height: 100%;
    display: block;
    margin-right: 5%;
}

.right > img {
    height: 70vh;
    position: relative;
    
    top: 50%;
    transform: translateY(-50%);

    left: 500px;
    opacity: 0;
}

.right > iframe {
    display: none;
}

.left {
    height: 100%;
    max-width: 1600px;
    display: inline-block;
    /*margin-left: 2%;*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.left > div {
    display: block;
}

.left h1 {
    font-family: Playball;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 72px;
    color: #980521;
}

.left h2 {
    font-family: Yellowtail;
    margin-bottom: 30px;
    text-align: center;
    font-size: 42px;
    color: #EE4973;
}

.left p {
    text-align: justify;
    padding: 0 17%;
    margin-bottom: 15px;
    font-size: 16px;
    color: #980521;
}

.left p:last-of-type {
    margin-bottom: 30px;
}

.authors {
    padding: 0 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.author {
    /*border: 1px solid #EE4973;*/
    border-radius: 3px;
    margin: 10px 0;
    padding-left: 6px;
    background-color: #EF97AF;
    width: 32%;
}

.author:hover {
    background-color: #FFDCE0;
}

.author a {
    padding: 0 16px 0 37px;
    background: transparent url(images/steam.png) no-repeat center left;

    text-decoration: none;
    font-family: Yellowtail;
    font-size: 30px;
    color: #980521;
}

.dbuttons {
    text-align: center;
}

.dbuttons > a {
    text-decoration: none;
    display: inline-block;
    padding: 16px 26px;
    margin: 20px;
    border-radius: 3px;
    
    background-color: #EE4973;
    cursor: pointer;
    color: white;

    transition: all 0.5s;
}

.dbuttons > a:hover {
    background-color: #980521;
}

.dbuttons > a > span {
    text-align: center;
    font-size: 18px;
    display: block;
}

#copyright {
    flex: 0 0 100%;

    padding: 20px;

    font-family: Playball;
    font-weight: 800;
    font-size: 22px;
    color: white;

    right: 0;
    bottom: 0;
    position: absolute;
}

#copyright a {
    text-decoration: none;
    color: #980521;
}

#copyright a:hover {
    color: #EE4973;
}

/* FOR SCREENS SMALLER THAN 660px HEIGHT */
@media(max-height: 660px) {

    .left h1 {
        margin-bottom: 0;
        font-size: 52px;
    }
    
    .left h2 {
        margin-bottom: 10px;
        font-size: 32px;
    }
    
    .left p {
        margin-bottom: 8px;
        font-size: 15px;
    }
    
    .left p:last-of-type {
        margin-bottom: 15px;
    }

    .author {
        padding-left: 3px;
    }

    .author a {
        padding: 0 16px 0 30px;
        background-size: 22px;
        font-size: 20px;
    }
    
    .dbuttons > a {
        padding: 12px 20px;
        margin: 10px;
    }

    .dbuttons > a > span {
        font-size: 15px;
    }
}

/* FOR SCREENS SMALLER THAN 500px HEIGHT */
@media(max-height: 550px),(max-width: 1100px) {

    #copyright {
        font-size: 18px;
    }

}

/* FOR SCREENS SMALLER THAN 360px HEIGHT or 600px WIDTH */
@media(max-height: 500px),(max-width: 700px) {

    .wrapper {
        display: block;
    }

    .right {
        margin: 40px 0 0 0;
    }

    .right > img {
        width: auto;
        height: 100%;
        margin: 0 auto;
        display: block;
        position: initial;
        transform: none;
        opacity: 1;
        /*top: 50%;
        left: 500px;*/
    }

    .author a {
        background-size: 16px;
        font-size: 14px;
    }

    #copyright {
        display: block;
        text-align: center;
        position: initial;
        font-size: 14px;
        text-shadow: 0px 0px 10px #EF97AF;
    }

}